.css-1idn90j-MuiGrid-root{
  height: 25vh;
}

.profile{
  position: relative;
  margin-top: -8%;
  margin-left: 2%;

}

.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  cursor: pointer;
}

.profile-picture:hover{
  border-color: rgb(105, 88, 88);
}

.cover-photo{
  width:100%;
  height:100%;
  cursor: pointer;
}

.profilepage{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.presonalinfo{
  text-align: left;
}


@media only screen and (max-width: 600px) {
  .profilepage {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media only screen and (max-width:2000px) {
  .profile{
    position: relative;
    margin-top: -20%;
    margin-left: 2%;
  }
}

@media only screen and (max-width:600px) {
  .profile{
    position: relative;
    margin-top: -60%;
    margin-left: 2%;
  }
}

@media only screen and (max-width:1300px) {
  .profile{
    position: relative;
    margin-top: -40%;
    margin-left: 2%;
  }
}

.modal{
  width: 100%;
  height: 100%;
}

#service-photos{
  height:40vh;
}

.services-cont-free{
  height:38vh;
}

.service-pics{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.title-comps-free{
  text-align: center;
  margin-top: 10rem;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item#photo-grid{
  margin-top: -10rem;
} 

#services-prices{
  margin-top: -10rem;
}

.services-cont-free{
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}

.services-cont-book{
  height:30vh;
  position: relative;
}