.services-cont{
  height:20vh;
}

.service-pics{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

#services-prices-free{
  margin-top: -10rem;
  height:36vh;
}

.title-comps{
  text-align: center;
}

.services-cont{
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  height: 100%;
}
