.services-cont{
  height:20vh;
}

.service-pics{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

#services-prices-free{
  height:36vh;
}

.title-comp{
  text-align: center;
}

.services-cont{
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

#photo-grid-margs{
  text-align: center;
  margin-top: 0px;
}

.reviews-cont{
  height: 30vh;
}

.reviews-cont{
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}
