@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

div.MuiTypography-root{
  font-family: 'Coiny', cursive;
}

header.MuiPaper-root{
  background-color: rgba(21, 2, 2, 0.768);
}

.mylogo{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.profilenav{
  text-decoration: none;
  color:rgb(0, 0, 0)
}

.freebar{
  text-decoration: none;
  color: white;
}